#c1.container {
    background-color: #202463;
}

#c2.container {
    background-color: #070a40;
}

#c1.container > .title {
    text-align: center;
    color: white;
    position: relative;
    bottom: -50px;
}

.b1 {
    position: relative;
    bottom: -250px;
    display: flex;
    justify-content: center;
}

.b1 a {
    display: inline-block;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    font-weight: lighter;
    font-family: 'Cinzel', serif;
}

a {
    text-decoration: none;
}

.b1 a:hover {
    background-color: lightslategray;
}

#c2.container > .title {
    text-align: center;
    color: white;
    position: relative;
    bottom: -50px;
}

#c2.container > p {
    text-align: center;
    color: white;
    position: relative;
    bottom: -5em;
    font-family: 'Montserrat', sans-serif;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    min-height: 600px;
    min-width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    transition-duration: 0.2s;
}

.item:hover {
    background-color: lightgray;
    transition-duration: 0.2s;
}

.item > .title {
    text-align: center;
}

.item p {
    text-align: center;
}

#c3.container > .title {
    text-align: center;
    display: block;
    padding: 100px;
}

#c4.container > .title {
    text-align: center;
    padding: 10px;
}

.download-content {
    display: grid;
}

.d-item {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
}

.d-item p {
    display: inline;
    float: left;
}

.d-item a {
    display: inline;
    float: right;
    background-color: #347aeb;
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

@media only screen and (min-device-width: 480px) {
    .d-item a {
        font-size: 30px;
    }

    .d-item p {
        font-size: 30px;
    }
    
    #c4.container > .title {
        font-size: 50px;
    }

    #c3.container > .title {
        font-size: 50px;
    }

    #c2.container > .title {
        font-size: 50px;
    }

    .b1 a {
        font-size: 20px;
    }

    #c1.container > .title {
        font-size: 50px;
    }

    #c3.container {
        height: 1000px;
    }
}

@media only screen and (max-device-width: 480px) {
    .title {
        font-size: 80px;
    }

    .b1 a {
        font-size: 30px;
        width: 200px;
    }

    #c2.container p:not(.title) {
        font-size: 50px;
    }

    #c3.container {
        height: auto;
    }

    .item .item-title {
        font-size: 50px;
    }

    .item p:not(.item-title) {
        font-size: 30px;
    }
}