html, body {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
}

#header {
    text-align: center;
    color: white;
    background-color: #1f1f21;
    margin: 0;
    padding: 3px;
}

#container {
    background-color: #242447;
    margin: 0;
    height: 500px;
    padding: 3px;
}

#container > h3 {
    text-align: center;
    color: white;
    position: relative;
    bottom: -50px;
}

#container > a {
    float: none;
    position: absolute;
    transform: translate(-50%, -50%);
}

#container > a:hover {
    background-color: lightslategray;
}

#footer {
    background-color: #3b3b47;
}
