.blog-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.title {
    text-align: center;
}

.blog-container p:not(.title) {
    font-size: 30px;
}

.image-container-1 {
    display: flex;
    justify-content: center;
}